3dObject/*.glb filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.jsx filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/crc32 filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/cross-env filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/cross-env-shell filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/esbuild filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/nanoid filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/node-which filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/rollup filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/vite filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/xlsx filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
/node_modules/@babel/runtime/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/node_modules/@emailjs/browser/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
/node_modules/@monogrid/gainmap-js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-three/drei/LICENSE filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
/node_modules/@tweenjs/tween.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/draco3d/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/estree/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/offscreencanvas/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/react-reconciler/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/stats.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/three/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/webxr/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@use-gesture/core/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@use-gesture/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@webgpu/types/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/adler-32/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/base64-js/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/node_modules/buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/camera-controls/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/cfb/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/cfb/dist/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/codepage/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/crc-32/LICENSE filter=lfs diff=lfs merge=lfs -text
*.njs filter=lfs diff=lfs merge=lfs -text
/node_modules/cross-env/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/cross-spawn/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/csstype/LICENSE filter=lfs diff=lfs merge=lfs -text
*.flow filter=lfs diff=lfs merge=lfs -text
/node_modules/detect-gpu/LICENSE filter=lfs diff=lfs merge=lfs -text
*.drc filter=lfs diff=lfs merge=lfs -text
/node_modules/emailjs-com/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/esbuild/bin/esbuild filter=lfs diff=lfs merge=lfs -text
/node_modules/fflate/LICENSE filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
/node_modules/frac/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/frac/dist/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/glsl-noise/LICENSE filter=lfs diff=lfs merge=lfs -text
*.glsl filter=lfs diff=lfs merge=lfs -text
/node_modules/hls.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/ieee754/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/is-promise/LICENSE filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/node_modules/isexe/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/its-fine/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/meshline/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/nanoid/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/path-key/license filter=lfs diff=lfs merge=lfs -text
/node_modules/picocolors/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/postcss/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/potpack/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/promise-worker-transferable/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react-icons/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react-reconciler/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react-use-measure/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/regenerator-runtime/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/require-from-string/license filter=lfs diff=lfs merge=lfs -text
/node_modules/rollup/dist/bin/rollup filter=lfs diff=lfs merge=lfs -text
/node_modules/scheduler/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/set-cookie-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/shebang-command/license filter=lfs diff=lfs merge=lfs -text
/node_modules/shebang-regex/license filter=lfs diff=lfs merge=lfs -text
/node_modules/source-map-js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/ssf/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/stats-gl/node_modules/three/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/stats-gl/node_modules/three/examples/fonts/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/stats-gl/node_modules/three/examples/fonts/droid/NOTICE filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
/node_modules/stats.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/suspend-react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three-mesh-bvh/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three-stdlib/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three-stdlib/node_modules/fflate/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three/examples/fonts/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/three/examples/fonts/droid/NOTICE filter=lfs diff=lfs merge=lfs -text
/node_modules/troika-three-text/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/troika-three-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/troika-worker-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.prettierrc filter=lfs diff=lfs merge=lfs -text
/node_modules/tunnel-rat/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/tunnel-rat/node_modules/zustand/LICENSE filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
/node_modules/turbo-stream/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/use-sync-external-store/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/utility-types/LICENSE filter=lfs diff=lfs merge=lfs -text
*.applescript filter=lfs diff=lfs merge=lfs -text
/node_modules/webgl-constants/LICENSE filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/node_modules/which/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/which/bin/node-which filter=lfs diff=lfs merge=lfs -text
/node_modules/wmf/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/word/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/xlsx/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/xlsx/dist/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/zustand/LICENSE filter=lfs diff=lfs merge=lfs -text
